# LangChain Core
langchain
langgraph
langchain-core
langchain_community
langchain-classic

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Groq Integration
langchain-groq

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv
pydantic
streamlit
pydantic[email]
grandalf

# Kernel Install
ipykernel

# Machine Learning Utilities
numpy
scikit-learn
torch
